%p#notice= notice

%p
  %b Story text:
  = @story.story_text
%p
  %b Tags:
  = @story.tags
%p
  %b Location:
  = @story.location_id

= link_to 'Edit', edit_story_path(@story)
\|
= link_to 'Back', stories_path
