%p#notice= notice

%p
  %b Name:
  = @location.name
%p
  %b Lat:
  = @location.lat
%p
  %b Lng:
  = @location.lng
%p
  %b Location type:
  = @location.location_type
%p
  %b Website url:
  = @location.website_url
%p
  %b Short text:
  = @location.short_text

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
